<div class="login-wrapper">

  <div class="login-container transition animated zoomIn">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <div class="brand-login">
            <img src="../../images/logo-getokr-white.png">
          </div>
        </div>
        <div class="hpanel" ng-hide="vm.token">
          <div class="panel-body">
            <form id="forgotPasswordForm" ng-submit="vm.sendResetLink()">
              <fieldset ng-disabled="vm.loading">
                <p class="text-center forgot-password">
                  Esqueceu sua senha? Digite seu e-mail no campo abaixo e receba um link para redefini-la.
                </p>
                <div class="form-group">
                  <input class="form-control" id="email" name="email" placeholder="E-mail" required="true" title="Digite seu e-mail" type="text"
                    value="" ng-model="vm.email">
                </div>
                <button class="btn btn-theme btn-block" type="submit" autofocus>Redefinir senha</button>
              </fieldset>
            </form>
            <div class="forgot-password text-center">
              Não esqueceu sua senha?
              <br><a href="/#/login">Entre na sua conta</a>
            </div>
            <div class="clear"></div>
          </div>
        </div>


        <div class="hpanel" ng-hide="!vm.token">
          <div class="panel-body">
            <form id="forgotPasswordForm" ng-submit="vm.changePassword()">
              <fieldset ng-disabled="vm.loading">
                <p class="text-center forgot-password">
                  Digite sua nova senha e confirme-a para que sua senha seja alterada.
                </p>
                <div class="form-group">
                  <input class="form-control" id="password" name="password" placeholder="Nova senha" required="true" title="Nova senha" type="password"
                    value="" ng-model="vm.newPassword">
                </div>
                <div class="form-group">
                  <input class="form-control" id="password" name="password" placeholder="Confirme a nova senha" required="true" title="Nova senha"
                    type="password" value="" ng-model="vm.newPasswordConfirmation">
                </div>
                <button class="btn btn-theme btn-block" type="submit" autofocus>Redefinir senha</button>
              </fieldset>
            </form>
            <div class="clear"></div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <strong>GetOKR</strong>
        <br/> 2017 Copyright GetOKR
      </div>
    </div>
  </div>
</div>
