.green {
  background-color: $color-green;
}
.yellow {
  background-color: $color-yellow;
}
.gray {
  background-color: $gray;
}
.teal {
  background-color: $color-navy-blue;
}
.blue {
  background-color: $color-blue;
}
.red {
  background-color: $color-red-deep;
}

.white{
background-color: white;
    color: $color-default-theme;
}
