.title {
  padding-left: 0px;
}

.icons {
  padding-right: 0px;
  height: 0px;
  width: 55px;
  padding-left: 0px;
  margin-left: 65px;
}

.contributors-teams {
  float: right;
}

.myteams {
  position: relative;
  margin-left: 10px;
  top: 55px;
  font-size: 25px;
  color: rgba(57, 65, 68, 0.6);
}

.teamObjective {
  margin-top: 10px;
}
