<div class="inmodal">
  <div class="modal-header text-center">
    <h4 class="modal-title">Alteração de senha</h4>
  </div>
  <div class="modal-body">

    <form>
      <div class="row">

        <div class="form-group  col-lg-12">
          <label class="control-label">Senha atual</label>
          <input class="form-control" name="currentPassword" ng-model="vm.currentPassword" type="password">
        </div>

        <div class="form-group  col-lg-12">
          <label class="control-label">Nova senha</label>
          <input class="form-control" name="newPassword" ng-model="vm.newPassword" type="password">
        </div>

        <div class="form-group  col-lg-12">
          <label class="control-label">Confirme a senha</label>
          <input class="form-control" name="confirmNewPassword" ng-model="vm.confirmNewPassword" type="password">
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-link btn-sm" ng-click="vm.closeModal()" type="button">Cancelar</button>
    <button class="btn btn-success btn-sm" ng-click="vm.save(); vm.mixpanel('Alterou a senha')" ng-disabled="!vm.currentPassword || !vm.newPassword || !vm.confirmNewPassword">Salvar</button>
  </div>
</div>
