<html ng-app="app">

<div class="container has-top">
  <div class="row">
    <div class="col-md-9">
      <div class="m-b-lg transition animated fadeIn">
        <h4>Períodos de planejamento</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 float">
      <div class="float-controls floating z-index">
        <div class="search-user-box pull-left">
          <div class="inn">
            <i class="fa fa-search icon-ghost"></i> <input class="search" placeholder="Buscar Período" ng-model="searchText">
          </div>
        </div>
        <div class="button-default" ng-click="vm.addPlanningSession()" ng-if="main.user.isAdministrator == true">
          <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i>
          <span ng-click="vm.mixpanel('Clicou no botão Novo período de planejamento')">Novo período de planejamento</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="hpanel" ng-if="vm.plannings.length == 0">
        <div class="panel-body text-center">
          <h5 class="title">Sem dados.</h5>
          <p>Não há usuários para serem exibidos.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default m-t" ng-if="vm.plannings.length > 0">
            <div class="panel-body panel-colored">
              <div class="box-list-user" ng-mouseenter="options_hover=true" ng-mouseleave="options_hover=false" ng-class="{'active': activeDiv}">
                <table cellpadding="1" cellspacing="1" class="table table-condensed table-key-result truncate-table">
                  <thead>
                    <tr>
                      <th>Criado por</th>
                      <th>Nome</th>
                      <th>Data de início</th>
                      <th>Data de término</th>
                      <th>Atualizado em</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="planning in vm.plannings | orderBy: 'firstName' | filter : searchText as filtered">
                      <td>
                        <div class="initial-owner">
                          <span uib-tooltip="{{planning.createdBy.firstName}} {{planning.createdBy.lastName}}" tooltip-placement="bottom">
                                                        {{vm.getInitials(planning.createdBy)}}
                                                    </span>
                        </div>
                      </td>
                      <td>
                        <span>
                                                    <div ng-app="appModule" ng-controller="planningController">
                                                    <a href="#" editable-text="vm.planning.name" ng-click="vm.showEditButtons = true" e-ng-blur="vm.showEditButtons = false" e-ng-change="vm.viewChanges()">{{ planning.name || "empty" }}</a>
                                                    </div>
                                                    <!--<a ng-show="vm.showEditButtons"><i class="fa fa-check" aria-hidden="true"></i></a>
                                                    <a ng-show="vm.showEditButtons"><i class="fa fa-times" aria-hidden="true"></i></a>-->
                                                </span>
                      </td>
                      <td>
                        <span>
                                                    {{vm.getDate(planning.startDate)}}
                                                </span>
                      </td>

                      <td>
                        <span>
                                                    {{vm.getDate(planning.endDate)}}
                                                </span>
                      </td>
                      <td>
                        <span>
                                                    {{vm.getDate(planning.updateDate)}}
                                                </span>
                      </td>
                      <td>
                        <button class="btn btn-link btn-width pull-right" ng-class="{'select': options}" ng-show="!planning.deactivate" ng-click="vm.changeIsActive(user);vm.mixpanel('Clicou no botão para mudar status para Inativo de um período de planejamento')"
                          ng-if="main.user.isAdministrator">
                                                    <i class="fa fa-toggle-on"></i>  Ativo
                                                </button>
                        <button class="btn btn-link btn-width pull-right" ng-class="{'select': options}" ng-show="planning.deactivate" ng-click="vm.changeIsActive(user);vm.mixpanel('Clicou no botão para mudar status para Ativo de um usuário')"
                          ng-if="main.user.isAdministrator">
                                                    <i class="fa fa-toggle-off"></i>  Inativo
                                                </button>
                        <button class="btn btn-link pull-right" ng-class="{'select': options}" ng-click="vm.editPlanning(planning);vm.mixpanel('Clicou no botão para Editar um período de planejamento')"
                          ng-if="main.user.isAdministrator">
                                                    <i class="fa fa-pencil"></i> Editar
                                                </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="hpanel" ng-if="filtered.length == 0">
                  <div class="panel-body text-center">
                    <h5 class="title">Sem dados.</h5>
                    <p>Não encontramos nenhum período com o nome <strong>"{{searchText}}"</strong>.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
